header{
    background-color: rgb(11, 14, 14);
    width:70%;
    height: 50px;
    margin: auto;
    top: 0;
    position: sticky;
}
.header-link{
  width: 70%;
 background-color: antiquewhite;
  margin: auto;
  display: flex;
}
.logo{
  width: 10%;
  margin-left: 10%;
}
.logo img{
  width: 60%;
}
.logo1 img{
  width: 20%;
}
.A{
  width: 25%;
  margin-top: 5px;
  height: 30px;

}
.btnn{
  height: 30px;
  width: 20%;
  border-radius: 1px solid rgb(252, 27, 27);

 
}
.navbar{
    text-align: center;
 
}
ul li{
    text-decoration: none;
    list-style: none;
}
.navbar ul li{
   
    justify-content: space-between;
    display: inline-block;
    padding: 10px 20px;

}
a{
    color: aliceblue;
    text-decoration: none;
}


/* navbar */
.main{
  width: 70%;
  margin: auto;
  /* background-color: antiquewhite; */
}
.title{
  font-size: 25px;
  color: brown;
  text-align: center;
  padding: 10px;
}
.slide{
  width: 100%;
}
.slide img{
  width: 90%;
  margin-left: 5%;
}
.slide1{
  width: 50%;
  margin: auto;
}
.slide1 img{
  width: 90%;
  padding: 20px;
  margin-left: 9%;
}
.btn1 {
  width: 100%;
  margin: auto;
}
.btn1 img{
  width: 15%;
  display: flex;
  margin: auto;
}
.dis{
  font-size: 16px;
  padding: 0px 20px;
}
.poin{
  padding:20px 20px;
}
.dis1{
  text-align: center;
}
.title1{
  font-size: 20px;
  color: blue;
  padding: 10px 20px;
}
.icon{
  width: 85%;
  margin: auto;
  transition: 1.3s;
}
.icon{
  margin: auto;
  transition: 1s;
}
.icon img:hover{
  transform: scale(1.3s);
}
.about{
  width: 100%;
  display: flex;
  
}
.about-A{
  width: 22%;
  padding: 10px;
  border: 1px solid rgb(8, 8, 8);
}
.about-A img{
  width: 100%;
}
.about-B{
  width: 22%;
  padding: 10px;
  margin-left: 5%;
  border: 1px solid rgb(8, 8, 8);
}
.about-B img{
  width: 100%;
}
.about-C{
  width: 22%;
  padding: 10px;
  margin-left: 5%;
  border: 1px solid rgb(8, 8, 8);
}
.about-C img{
  width: 100%;
}
.about-D{
  width: 22%;
  padding: 10px;
  margin-left: 5%;
  border: 1px solid rgb(8, 8, 8);
}
.about-D img{
  width: 100%;
}
hr{
  border: 1px solid black;
}
.icon img{
  width: 16%;
  padding: 20px ;
  margin-left: 7%;
  transition: 1;
}
video{
  margin-left: 22%;
}
.footer{
  width: 70%;
  padding: 40px;
  display: flex;
  background-color: rgb(226, 236, 236);
  margin: auto;
}
.foot_A{
  width: 30%;
}
.foot_A img{
  margin-left: 10%;
  width: 30%;
}
.foot_B{
  width: 50%;
}
.foot_C{
  width: 20%;
}
.foot_C img{
  width: 10%;
}
/* navbar respon */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 0%;
  width: 30%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fffdfd;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.sp{
  display: none ;
  color: #f1f1f1;
  margin-left: 5px;
}